/*GENERALES*/
html {
  position: relative;
  min-height: 100%;
}
body{
	font-family: 'Didact Gothic', sans-serif;
	overflow-x: hidden;
	background-color: #efefef;
	  /* Margin bottom by footer height */
	margin-bottom: 60px;
}

/*NAVBAR-------------------------------------------------- */
	nav{
		background-color: rgb(180,55,114);
		color: white;
		}
	.navCont{
		position: relative;
		}

	.logotipo{
		width:30px;
	}	
	.imgLogoCont{
		margin-bottom: 10px;
	}
	.imgLogo{
		width: 25%;
		}

		.BusGpo{
			border: 3px solid white;
			border-radius: 20px;
		}
	.buscarCont{
		position: absolute;
		top: 50%; left: 0;
	}
	.busquedas{
		margin:2%;
		}
	.txtSearch{
		border-radius: 20px 0 0 20px !important;
		background-color: white !important;
		}
	.btnSearch{
		background-color: #66DDAF;
		color: white;
		border: 1px solid #66DDAF;
		border-radius: 0 20px 20px 0;
		}
	.btnSearch:hover{
		background-color: #43C3A5;
		color: white;
		border: 1px solid #43C3A5;
		}

	.secciones{
		width: 100%;
		}
	.navbar-nav > li {
		border-right:  1px solid white;
		border-left:  1px solid white;
		width: 16.5%;
		}
	.navbar-nav > li > a {
		color: white;
		text-transform: uppercase;
		font-size: 17px;
		font-weight: bold;
		}
	.navbar-nav > li > a:hover,
	.navbar-nav > li > a:focus {
	  color: white;
	  text-decoration: none;
	  background-color: rgba(0,0,0,0.2);
		}

	.menu{
		margin-bottom: 55px;
		}

	@media (max-width: 768px){
		.navbar-nav > li {
			border:none;
			width: 100%;
			text-align: right;
		}
		.imgLogoCont{
			display: none;
		}
		.buscarCont{
			top: 0;
			left: 0;
			width: 80%;
			margin: 0;
		}
	}

/*FOOTER-------------------------------------------------- */

	footer{
		background-color: rgb(180,55,114);
		color: white; 
		}
	.footer {
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  /* Set the fixed height of the footer here  height: 30px;*/
	}
	.paginas{
		display: inline-block;
	}
	.paginas span{
		margin-right: 10px;
		font-size: 20px;
	}
	.paginas a{
	color: #66DDAF;
}
	.pag{
		width: 13%;
		margin: 5px;
	}


/*CONTENIDO INICIO----------------------------------------- */

[phead="rosa"]{
	color: white  !important;
	background-color: rgb(180,55,114) !important;
}
/*CONTENIDO CONTACTO----------------------------------------- */
.datos{
	font-size: 24px;
}
.datos a{
	color: rgb(180,55,114);
}
 #map {
       width: 100%;
       height: 300px;
       background-color: grey;
 }
/*
.imgCaru{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-image: url('../img/tigres.png');
}*/
