
/*GENERALES*/
	html {
	  position: relative;
	  min-height: 100%;
	}
	*{
		font-family: 'Didact Gothic', sans-serif;
	}
	body{
		overflow-x: hidden;
		background-color: #efefef;
		  /* Margin bottom by footer height */
		margin-bottom: 60px;
	}

/*NAVBAR-------------------------------------------------- */
	nav{
		background-color: rgb(180,55,114);
		color: white;
		}
	.navCont{
		position: relative;
		}

	.logotipo{
		width:30px;
		}	
		.imgLogoCont{
			margin-bottom: 10px;
		}
		.imgLogo{
			width: 17%;
			}

	.BusGpo{
		border: 3px solid white;
		border-radius: 20px;
		}
		.buscarCont{
			position: absolute;
			top: 50%; left: 0;
		}
		.busquedas{
			margin:2%;
			}

		.txtSearch{
			border-radius: 20px 0 0 20px !important;
			background-color: white !important;
			}
		.btnSearch{
			background-color: #66DDAF;
			color: white;
			border: 1px solid #66DDAF;
			border-radius: 0 20px 20px 0;
			}
		.btnSearch:hover{
			background-color: #43C3A5;
			color: white;
			border: 1px solid #43C3A5;
			}

	.secciones{
		width: 100%;
		}

	.navbar-nav > li {
		border-right:  1px solid white;
		border-left:  1px solid white;
		width: 16.5%;
		}
	.navbar-nav > li > a {
		color: white;
		text-transform: uppercase;
		font-size: 17px;
		font-weight: bold;
		}
	.navbar-nav > li > a:hover,
	.navbar-nav > li > a:focus,
	.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	  color: white;
	  text-decoration: none;
	  background-color: rgba(0,0,0,0.2);
		}
	.dropdown-menu {
    margin-right:-1000px;
    background-color: #B43772;
	}

	.dropdown-menu > li {
	    display: inline-block;
	    font-size: 18px;
	    color: white;
	}
	.dropdown-menu > li >a {
	    color: white;
	}
	.dropdown-menu > li >a:hover {
		background-color: transparent;
		color: white;
		text-shadow: 0px 0px 18px rgba(255, 255, 255, 1);
	}
	.menu{
		margin-bottom: 55px;
		}

	@media (max-width: 768px){
		.navbar-nav > li {
			border:none;
			width: 100%;
			text-align: right;
		}
		.dropdown-menu {
		    margin-right:0px;
		    background-color: #B43772;
			}
		.dropdown-menu > li {
		    display: block;
		    font-size: 18px;
		    text-align: right;
		    color: white;
		}
		.imgLogoCont{
			position: absolute;
			top: 0;
			left: 0;
			z-index: 20;
		}
		.imgLogoCont img{
			width: 90px;
		}
		.buscarCont{
			top: 0;
			left: 65px;
			width: 60%;
			margin: 0;
		}
	}

/*FOOTER-------------------------------------------------- */

	footer{
		background-color: rgb(180,55,114);
		color: white; 
		}
	.footer {
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  /* Set the fixed height of the footer here  height: 30px;*/
	}
	.paginas{
		display: inline-block;
	}
	.paginas span{
		margin-right: 10px;
		font-size: 20px;
	}
	.paginas a{
	color: #66DDAF;
	}
	.pag{
		width: 13%;
		margin: 5px;
	}


/*CONTENIDO INICIO------------------------------------------- */

	[phead="rosa"]{
		font-size: 19px;
		color: white  !important;
		background-color: rgb(180,55,114) !important;
	}
/*CONTENIDO CONTACTO----------------------------------------- */
	.datos{
		font-size: 24px;
	}
	.datos a{
		color: rgb(180,55,114);
	}
	 #map {
	       width: 100%;
	       height: 300px;
	       background-color: grey;
	 }
/*CONTENIDO TRAJES--------------------------------------------*/
	.panGpo{
		border-radius: 30px !important;
	}
	.cabeza{
		border-radius: 30px 30px 0 0 !important;
		text-align: center;
	}
	.panBody{
		padding-right: 5px; padding-left: 5px;
	}
	.menuTrajes {
 		margin:0; padding: 0;
	}
	[subM = "M"]{
		text-align: center;
		background-color: #B54C7D;
		font-size: 20px;
		border-radius: 10px;
	}
	.menuTrajes > div {
		text-decoration: none;
		color: white;
		cursor: pointer;
	}
	.menuTrajes > div > a:hover{
		text-shadow: 0px 0px 18px rgba(255, 255, 255, 1);
	}

 	.menuTrajes > div, .sub_menuTrajes > li{
 		list-style: none;
 		margin:10px 0; padding:5px;
 	}
 	/*---------------------------------------------------------*/

	 	.menuTrajes ul{
	 		padding: 0;
	 	}
	 	.sub_menuTrajes li {
	 		text-align: left;
			background-color: #fff;
			font-size: 15px;
			padding: 5px 10px;
	 	}
		.sub_menuTrajes > li:hover{
			background-color: #efefef;
		}
	 	.sub_menuTrajes > li > a{
	 		text-decoration: none;
	 		color: black;
	 	}
	 	.sub_menuTrajes > li > a:hover{
	 		text-decoration: none;
	 		color: black; 		
	 	}
 	/*------------------------------------------------------*/
 		.cuadros{
 			height: 90px; width: 90px;
	 		margin: 5px;
	 		display: inline-block; 
	 		border-radius: 5px;	
	 		position: relative;
 		}
 		.textu2{
 			z-index: 1;
	 		background-repeat: no-repeat;
			background-size: cover;
			background-position: 50% 50%;
 			height: 100%; width: 100%;
 			position: absolute;
 			top: 0;
 		}
	 	.colrs, .textu{
	 		height: 90px; width: 90px;
	 		margin: 5px;
	 		display: inline-block; 
	 		border-radius: 5px;	
	 		}
		/*color----*/
		 	[colorsito = "1"]{ background-color: #000; color: white;}
		 	[colorsito = "2"]{ background-color: #fff;}
		 	[colorsito = "3"]{ background-color: #aaa;}
		 	[colorsito = "4"]{ background-color: #D40E0D;}
		 	[colorsito = "5"]{ background-color: #071BCB;color: white;}
		 	[colorsito = "6"]{ background-color: #101A61;color: white;}
		 	[colorsito = "7"]{ background-color: #3D0B62;color: white;}
		 	[colorsito = "8"]{ background-color: #FF6700;}
		 	[colorsito = "9"]{ background-color: #34AE28;}
			[colorsito = "10"]{ background-color: #06A1FB;}
			[colorsito = "11"]{ background-color: #4C0139;color: white;}
			[colorsito = "12"]{ background-color: #FEF200;}
			[colorsito = "13"]{ background-color: #FF0BF4;}
			[colorsito = "14"]{ background-color: #FF73A7;}
	 	 
	 	.textu{	 		
			z-index: 1;
	 		background-repeat: no-repeat;
			background-size: cover;
			background-position: 50% 50%;	
			}
		.textuZoom{
			position: absolute;
 			top: 0;
			z-index: 0;
			height: 100%; width: 100%;
	 		border-radius: 5px;	
	 		background-repeat: no-repeat;
			background-size: cover;
			background-position: 50% 50%;
			background-color: red;
			/*background-image:url(../img/texturas/textura1.png);*/
			-webkit-box-shadow: 0px 0px 47px 3px rgba(0,0,0,0.19);
			-moz-box-shadow: 0px 0px 47px 3px rgba(0,0,0,0.19);
			box-shadow: 0px 0px 47px 3px rgba(0,0,0,0.19);
			}
		/*texturas----*/
	 		[texturita = "1"]{ background-image:url(../img/texturas/textura1.png); }
	 		[texturita = "2"]{ background-image:url(../img/texturas/textura2.png); }
	 		[texturita = "3"]{ background-image:url(../img/texturas/textura3.png); }
	 		[texturita = "4"]{ background-image:url(../img/texturas/textura4.png); }
	 		[texturita = "5"]{ background-image:url(../img/texturas/textura5.png); }
	 		[texturita = "6"]{ background-image:url(../img/texturas/textura6.png); }
	 		[texturita = "7"]{ background-image:url(../img/texturas/textura7.png); }
	 		[texturita = "8"]{ background-image:url(../img/texturas/textura8.png); }
	 		[texturita = "9"]{ background-image:url(../img/texturas/textura9.png); }
	 		[texturita = "10"]{ background-image:url(../img/texturas/textura10.png); }
	 		[texturita = "11"]{ background-image:url(../img/texturas/textura11.png); }
	 		[texturita = "12"]{ background-image:url(../img/texturas/textura12.png); }
	 		[texturita = "13"]{ background-image:url(../img/texturas/textura13.png); }
	 		[texturita = "14"]{ background-image:url(../img/texturas/textura14.png); }
	 		[texturita = "15"]{ background-image:url(../img/texturas/textura15.png); }
	 		[texturita = "16"]{ background-image:url(../img/texturas/textura16.png); }
	 		[texturita = "17"]{ background-image:url(../img/texturas/textura17.png); }
	 		[texturita = "18"]{ background-image:url(../img/texturas/textura18.png); }
	 		[texturita = "19"]{ background-image:url(../img/texturas/textura19.png); }
	 		[texturita = "20"]{ background-image:url(../img/texturas/textura20.png); }
	 		[texturita = "21"]{ background-image:url(../img/texturas/textura21.png); }
	 		[texturita = "22"]{ background-image:url(../img/texturas/textura22.png); }
	 		[texturita = "23"]{ background-image:url(../img/texturas/textura23.png); }
	 		[texturita = "24"]{ background-image:url(../img/texturas/textura24.png); }

	 	.btnTextu{
	 		height: 90px; width: 90px;
	 		margin: 5px;
	 		border: 0px;
			border-radius: 5px;	

	 		background-repeat: no-repeat;
			background-size: cover;
			background-position: 50% 50%;
			background-image:url(../img/texturas/textura25.png); 
			vertical-align: baseline;
	 		}

	 	.prevs{
	 		height: 90px; width: 90px;
	 		margin: 5px;
	 		display: inline-block; 
	 		border-radius: 5px;		
	 		}
	 		#prevColor{ background-color: #000; }
	 		#prevEstam{ background-color: #000;}
/*CONTENIDO GORRAS------------------------------------------- */
.itemGorra{
	width:235px;
	display: inline-block;
}
.imgGorras{
	display: inline-block;
	margin: 3px;
	position: relative;
	}
	.verGorra{
		position: absolute;
		bottom: 0;
		background-color: rgb(180,55,114);;
		width: 100%;
		text-align: center;
		display: none;
	}
	.verGorra a{
		text-decoration: none;
		color: white;
		font-size: 20px;
	}
	.imgGorras img{
		height: 200px;width:200px;
	}
	